name: Create Release on Github

on:
  push:
    tags:
      - 'v*'

jobs:
  call-release-workflow:
    uses: ASFHyP3/actions/.github/workflows/reusable-release.yml@v0.11.0
    with:
      release_prefix: tile-stitcher
      develop_branch: dev
      sync_pr_label: team-bot
    secrets:
      USER_TOKEN: ${{ secrets.OPERA_PST_GITHUB_TOKEN }}